<!DOCTYPE html>
<html ng-app>
<head>
	<!--<link rel="stylesheet" type="test/css" href="./stylesheets/bootstrap.min.css"/>-->
	<script type="text/javascript" src="./scripts/angular.min.js"></script>
	<script type="text/javascript">
		function ExampleCtrl($scope){
			$scope.value = "Lorem ipsum";
		}
	</script>
<head>
<body>
<div>
	<label>Name:</label>
	<input type="text" placeholder="Enter a name here" ng-model='yourName'>
	<hr>
	<h1>Hello {{yourName}}!</h1>
	<div>
		<input ng-model="value"><br>
		{{value}}
	</div>
	<div>
		<input ng-model="value"><br>
		{{value}}
	</div>
</div>
</body>
</html>